[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "yum"]
	path = yum
	url = https://github.com/lukas-hetzenecker/yum.git
[submodule "python"]
	path = python
	url = https://github.com/poise/python
[submodule "application_python"]
	path = application_python
	url = https://github.com/poise/application_python.git
